.patient {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.patient img{
	width: 200px;
	height: 200px;
}

.info {
	margin: 0 10px 0 10px;
	align-self: center;
}

a:hover {
	font-size: 18px;
}

.patient-main {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.profile {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}



.treatment_and_receipt{
	position: absolute;
	z-index: 5;
	width: 500px;
	height: 250px;
	text-align: center;
	background: cornsilk;
	visibility: hidden;
}


.bill_and_price{
	position: absolute;
	z-index: 5;
	width: 500px;
	height: 250px;
	text-align: center;
	background: cornsilk;
	visibility: hidden;
}



.patients_treatment{
	position: absolute;
	z-index: 5;
	width: 500px;
	height: 250px;
	text-align: center;
	background: cornsilk;
	padding: 5px;
	visibility: hidden;
}

.another_doc{
	position: absolute;
	z-index: 5;
	width: 500px;
	height: 250px;
	text-align: center;
	background: cornsilk;
	padding: 5px;
	visibility: hidden;
}


.ban_user{
	position: absolute;
	z-index: 5;
	width: 400px;
	height: 200px;
	text-align: center;
	background: cornsilk;
	padding: 5px;
	visibility: hidden;
}