<!DOCTYPE html>
<html>
<head>
	<title>Doctor`s page</title>
	<link rel="stylesheet" href="App.css">
	<link rel="stylesheet" href="style.css">
	<script src="https://kit.fontawesome.com/1dc80494d8.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class='navbar bg-primary'>
		<h1><i class="fas fa-notes-medical"> Clinic System</i></h1>
		<div class='menu'>
			<ul>
				<li><a href="">Schedule</a></li>
				<li><a href="">Settings</a></li>
				<li><a href="">Log out</a></li>
			</ul>
		</div>
	</div>
	<div class='container patient-list'>
		<h1 style="text-align: center">Patients list</h1>

		<th:block th:unless="${visits}">
			<div class="card bg-light">
			<p> No visits for today</p>
		</div>
		</th:block>

		<th:block th:each= "visit:${visits}">
		<div class='card bg-light patient'>
			<img src="https://cs6.pikabu.ru/post_img/big/2017/05/24/5/1495611349129076607.jpg"/>
			<div class='info'>
				<ul class='list'>
					<li>Name: <span th:text="${visit.getPatient().getName() + ' ' + visit.getPatient().getLastName()}">Ilya</span></li>
					<li>Age: 18</li>
					<li>Date: <span th:text="${visit.getDate()}">13.10.19</span></li>
					<li>Description: <span th:text="${visit.getDescription()}">Funny boy</span></li>
				</ul>
			</div>
			<div class='buttons'>
				<button class='btn btn-block btn-success'>Write Treatment</button>
				<button class='btn btn-block btn-dark'>Send to another</button>
				<button class='btn btn-block btn-danger'>Ban</button>
			</div>
		</div>
	</th:block>

</div>
</body>
</html>